/* Remove white border */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-family: 'Inter-Regular', sans-serif;
    background: linear-gradient(to bottom right, #2C2B5E, #48346B);
    color: #FFFFFF;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Center container */
  .reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .reset-form {
    background-color: #1A1A2E;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  .logo-container {
    margin-bottom: 20px;
  }
  
  .logo {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  .app-name {
    font-family: 'Inter-Bold', sans-serif;
    font-size: 24px;
    color: #FF8C00;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #333;
    color: #FFF;
    font-size: 16px;
  }
  
  .reset-button {
    background: linear-gradient(90deg, #470f7d, #221cd4);
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
  }
  
  .reset-button:hover {
    background: linear-gradient(90deg, #FF4B2B, #FF416C);
  }
  
  /* Fonts */
  @font-face {
    font-family: 'Inter-Regular';
    src: url('./assets/fonts/Inter_24pt-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Inter-Bold';
    src: url('./assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
  }
  